body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 10px 150px;
}

.left, .right{
    display: flex;
    gap: 30px;
    align-items: center;
}

.header .left{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

/* img{
    width: 50px;
    height: auto;
} */

.main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background: #3882f6;
    color: #E5E7EB;
    border-radius: 8px;
    font-size: 18px;
    padding: 8px 16px;
    width: 100px;
}

.section-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    padding: 80px 150px;
    gap: 10px;
}

.right-1{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
}

.left-1{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.section-1 img{
    width:400px;
    height: auto;
}

.section-2{
    padding-bottom: 100px;
}

.title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 50px;
}

.box{
    border: #3882f6;
    border-style: outset;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    align-self: center;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.box-text{
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.text{
    font-size: 18px;
    color: #1F2937;
    padding: 10px 0;
    text-align: center;
}

.section-3{
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 80px 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    width: 850px;
}

.author{
    font-size: 24px;
    font-weight: bold;
}